.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.ant-btn-primary,
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background: #ed3833;
  border-color: #ed3833;
  font-weight: 800;
  font-size: medium;
}

.title-film {
  margin: 10px 0 0 0;
}

.input-field {
  padding: 2.5% 20% 0 20%;
}

.list-items {
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  width: 80vw;
  overflow-y: auto;
  margin: 5%;
}

.list-items > p {
  margin: auto;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}

.item:nth-child(odd) {
  background-color: #dadada;
}

.factor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-right: 2.5%;
  padding-left: 5%;
  font-size: large;
}

.logos {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2vh;
}

a {
  font-size: 150%;
  color: black;
}

a:hover {
  color: #ed3833;
}

li {
  font-size: 100%;
}
