.demo-infinite-container {
    width: 90vw;
    margin: 0 5%;
    height: 300px;
    padding: 8px 24px;
    overflow: auto;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

.demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

li:first-child{
    font-size: 200%;
}

li:nth-child(2){
    font-size: 150%;
}

li:nth-child(3){
    font-size: 120%;
}

li {
    font-size: 100%;
}

a:first-child {
    font-size: 200%;
}